body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.column {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
}
.column:hover {
  background-color: rgba(75, 62, 62, 0.2);
}

.board,
.win {
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  gap: 16px;
}
.btn {
  padding: 12px;
  width: 80px;
  border: none;
  border-radius: 5px;
}
